/* Mulish font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Mulish:wght@400;600;800&family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared style */
*{
    font-family: 'Mulish', sans-serif;
    
}
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    border: none;
    padding: 15px 35px;
    font-size: 1.25rem;

}


/* Header part start */

/* nav part start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 55px 135px;
}
.nav-1st-part{
    display: flex;
    align-items: center;
}
.nav-1st-part > img{
    width: 45px;
    height: 50px;
    margin-right: 15px;
    
}
.nav-span{
    color: #FF5400
}
.nav-1st-part h1{
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-2nd-part ul{
    display: flex;
    text-align: center;
}
.nav-2nd-part ul li{
    list-style: none;
    margin-right: 40px;
    font-size: 1.125rem;
    font-weight: 400;
}
.nav-2nd-part ul a{
    text-decoration: none;
    color: #424247;
}
.nav-2nd-part .home a{
    color: #FF5400;
    font-weight: 700;
}


/* Header Banner part start */

.header-banner{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%) ,
     url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    height: 500px;
    max-width: 1170px;
    border-radius: 16px;
    margin: 50px auto;
}
.banner-content{
   text-align: center;
    padding: 100px 130px;

}
.banner-content .banner-heading{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
.banner-content .banner-description{
    color: #FFF;
    font-size: 1rem;
    text-align: center;

}
.banner-input input{
    width: 170px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 15px;
    margin-right: 20px    
}
.banner-input{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;

}
.banner-input input::placeholder{
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
}


/* main part start */

main{
    max-width: 1170px;
    margin: 100px auto;
}
/* Our popular tour */

.our-popular-tour{
    display: flex;
    
}
.first-section-first-column{
    padding-right: 55px;
    gap: 25px;
}
.first-section-second-column img{
    border-radius: 16px;
    
}
.first-section-first-column > h1{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.first-section-first-column p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    
}
.first-section-first-column .button-one{
    margin-top: 40px;
}

/* Choose Your Destination */

.second-section-first-part > h1{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 100px;
}
.second-section-first-part > p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 40px 265px;

}
.second-section-img-part{
    display: grid;
}

.second-section-img-first-line{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.25rem;
    margin-bottom: 1.25rem;
}
.second-section-img-second-line{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.25rem;
    margin-bottom: 1.25rem;
}
.second-section-img-third-line{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.25rem;
}

/* Why Choose Us */

.third-section-text-part h1{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 100px;
}
.third-section-text-part p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 40px 265px;
}
.third-section-card-h2{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.third-section-card-p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
.third-section-card-one{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    max-width: 570px;
    max-height: 280px;
    padding: 20px 15px;
}
.third-section-card-two{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    max-width: 570px;
    max-height: 280px;
    padding: 20px 15px;
}
.third-section-card-three{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    max-width: 570px;
    max-height: 280px;
    padding: 20px 15px;
}
.third-section-card-second-line{
    display: grid;
    margin: 25px 300px;
}

.third-section-card-first-line{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}

/* Deals & Discounts */


.four-section-text h1{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 100px;
}
.four-section-text p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 40px 265px;
}
.four-section-img-one{
    background: url('../Images/Group\ 39.png');
    background-repeat: no-repeat;
    height: 500px;
    padding: 55px 55px 55px 600px;

}
.four-section-img-background{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    max-width: 570px;
    max-height: 380px;
    padding: 50px;
    
}
.four-section-img-background-content{
    display: flex;
    gap: 25px;
}
.four-section-img-background > h2{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.four-section-img-background > p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
.four-section-img-background > h4{
    color: #FF5400;
    font-size: 1.25rem;
    font-weight: 800;
}

.four-section-img-background > button{
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 15px 25px;
    border: none;
}
.fa{
    color: #FF5400;
    margin-right: 10px;
}
.four-section-span{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.four-section-img-two{
    background: url('../Images/Group\ 40.png');
    background-repeat: no-repeat;
    height: 500px;
    padding: 55px 600px 55px 55px;
    
}














/* Responsive media queries */

@media screen and (max-width:600px) {
  
nav ,
.our-popular-tour,
.banner-input
{
    flex-direction: column;
}
.nav-2nd-part ul li{
    margin-right: 10px;
}
.nav-1st-part h1{
    padding-right: 230px;
    font-size: 1.4rem;
    
}
.nav-2nd-part {
    padding-right: 35px;
   
}
.header-banner{
    width: 100%;
}
.banner-content .banner-heading{
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 800;
}
.banner-content .banner-description{
    color: #FFF;
    font-size: 0.8rem;
    text-align: center;
}
.banner-content{
    padding: 20px 25px;
}
.banner-input{
    gap: 20px;
    
}
.banner-btn{
    width: 270px;
}
.banner-input input{
   margin-right: 0px;
   width: 250px;
}
main{
    margin-top: 30px;
}

.first-section-first-column{
    padding-left:20px ;
    
}
.first-section-first-column h1{
    font-size: 1.25rem;
}
.first-section-second-column img{
    width: 95%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 40px;  
}

/* Second Section */

.second-section-img-part img{
    width: 100%;
    height: 176px;
}
.second-section-img-first-line{
    grid-template-columns: repeat(1,1fr);
    width: 95%;
    margin-right: 10px;
    margin-left: 10px;

}
.second-section-img-second-line{
    grid-template-columns: repeat(1,1fr);
    width: 95%;
    margin-right: 10px;
    margin-left: 10px;
    
}
.second-section-img-third-line{
    grid-template-columns: repeat(1,1fr);
    width: 95%;
    margin-right: 10px;
    margin-left: 10px;
}
 .second-section-first-part p{
    margin: 20px 10px;
 }   
 .second-section-first-part h1{
    font-size: 1.25rem;
    margin-top: 30px;
 }


 /* Third Section */


 .third-section-text-part h1{
    font-size: 1.5rem;
    margin-top: 30px;
 }
 .third-section-text-part p{
    margin: 15px;
 }
 .third-section-card-first-line{
    grid-template-columns: repeat(1,1fr);
    margin: 10px;
    margin-top: 20px;
 }
 .third-section-card-second-line{
    margin: 5px;
    margin-top: 25px;
 }

/* Four Section */


 .four-section-text h1{
    font-size: 1.5rem;
    margin-top: 30px;
 }
 .four-section-text p{
    margin: 15px;
 }
 .four-section-img-one{
    width: 90%;
    padding: 10px;
    margin-left: 10px;
    border-radius: 16px 16px 50px 16px;
    
 }
 .four-section-img-two{
    width: 90%;
    padding: 10px;
    margin-left: 10px;
    border-radius: 16px 16px 50px 16px;
 }
 .four-section-img-background{
    padding: 20px;
    width: 70%;
    margin-top: 60px;
    margin-left: 30px;
   

    
 }
 .four-section-img-background-content{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}






}